<!DOCTYPE html>
<html>
  <head>
    <title>Network Devices</title>
    <meta charset="utf-8">
    <style>
      body {
        font-family: Ubuntu, sans-serif;
        background: #222;
        color: #00bd00;
      }
      h1, h2 {
        text-align: center;
      }
      table {
        margin: 30px auto;
        border-collapse: collapse;
      }
      tbody {
        font-family: "Ubuntu Mono", monospace;
      }
      td, th {
        padding: 10px 30px;
      }
      td:first-child, th:first-child {
        padding-left: 10px;
      }
      td:last-child, th:last-child {
        padding-right: 10px;
      }
      /*
      thead tr, tbody tr:nth-child(2) {
        background: rgba(255, 255, 255, 0.05);
      }
      */
      td {
        border: 1px solid gray;
        border-style: solid none;
      }
    </style>
  </head>
  <body>
    <h2>DHCP Leases</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>IP</th>
          <th>MAC</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
        {% for lease in leases %}
        <tr>
          <td>{{ lease.name }}</td>
          <td>{{ lease.ip }}</td>
          <td>{{ lease.mac }}</td>
          <td>{{ lease.expires }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>IPv4/IPv6 Neighbours</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>IP</th>
          <th>MAC</th>
          <th>Refs</th>
          <th>Use/Conf/Upd</th>
        </tr>
      </thead>
      <tbody>
        {% for neigh in neigh_v4 %}
        <tr>
          <td>{{ neigh.name }}</td>
          <td>{{ neigh.ip }}</td>
          <td>{{ neigh.mac }}</td>
          <td>{{ neigh.refs }}</td>
          <td>{{ neigh.used }}</td>
        </tr>
        {% endfor %}
        {% for neigh in neigh_v6 %}
        <tr>
          <td>{{ neigh.name }}</td>
          <td>{{ neigh.ip }}</td>
          <td>{{ neigh.mac }}</td>
          <td>{{ neigh.refs }}</td>
          <td>{{ neigh.used }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Static Hosts</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>IP</th>
        </tr>
      </thead>
      <tbody>
        {% for host in static_hosts %}
        <tr>
          <td>{{ host.name }}</td>
          <td>{{ host.ip }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
